@page
@model IDKyet.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Summs</h1>

<p> 
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summs[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summs[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summs[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summs[0].Server)
            </th>

            <th>
                Champions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Summs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Server)
                </td>
                <td>
                    <a asp-page="./Champions" asp-route-id="@item.Id">Champions</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Roles</h1>

<p>
    <a asp-page="./CreateRole">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].Champions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Champions)
                </td>
                <td>
                    <a asp-page="./EditRole" asp-route-id="@item.RoleID">Edit</a> |
                    <a asp-page="./DetailsRole" asp-route-id="@item.RoleID">Details</a> |
                    <a asp-page="./DeleteRole" asp-route-id="@item.RoleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
